@page "/"

<PageTitle>Eighteen</PageTitle>

<link rel="stylesheet" href="home.css">

<div class="header_wrapper">
    <div class="header">
        <div class="header-left">
            <a href="#default" class="logo">
                <img src="img/Oval3.png" alt="Logo Image">
            </a>
            <a href="#default">About us</a>
            <a href="#default">How it work</a>
            <a href="#default">Pricing</a>
            <a href="#default">FAQs</a>
        </div>
        <div class="header-right">
            <button type="button" id="login">Login</button>
            <button type="button" id="sign_up">Sign up</button>
        </div>
    </div>
</div>

