@page "/"

<PageTitle>Eighteen</PageTitle>

<link rel="stylesheet" href="home.css">

<div class="header_wrapper">
    <div class="header">
        <div class="header-left">
            <a href="#default" class="logo">
                <img src="img/Oval3.png" alt="Logo Image">
            </a>
            <a href="#default">About us</a>
            <a href="#default">How it work</a>
            <a href="#default">Pricing</a>
            <a href="#default">FAQs</a>
        </div>
        <div class="header-right">
            <button type="button" id="login">Login</button>
            <button type="button" id="sign_up">Sign up</button>
        </div>
    </div>
</div>

<div class="welcome_block_wrapper">
    <div class="welcome_block">
        <div class="welcome_block-left">
            <div class="h1block">
                <h1>Always Track & Analyze Your Business Statistics To Succeed.</h1>
                A better way to manage your sales, team, clients & marketing
                <br>— on a single platform. Powerful, affordable & easy.
            </div>
            <div id="email_block">
                <input type="email" id="email" placeholder="Enter your email">
                <button id="email_submit_button">Get started</button>
            </div>
            <div id="payment_systems">
                <img src="svg/payment_systems.svg" alt="payment_systems_logos">
            </div>
        </div>
        <img src="svg/welcome_img.svg" alt="welcome_img">
    </div>   
</div>

<div class="about_us_wrapper_block">
    <div class="about_us_block">
        <img src="svg/about_us_img.svg" alt="about_us_img">
        <div class="about_us_block-right">
            <div class="block_label">About us</div>
            <div class="h2block">
                <h2>Faster, friendlier feedback loops make life easier.</h2>
                Add a Viewer to your team so they can see everything you share, or invite 
                people to individual documents. It’s up to you. Stakeholders can check 
                out designs in their web browser, test prototypes and leave feedback for free.
            </div>
            <ul id="about_us_list">
                @foreach (var item in Items)
                {
                    <li>
                        <img class="list-icon" src="svg/list_icon.svg" alt="list_icon">
                        <span class="item-text">@item</span>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

<div class="how_it_works_wrapper_block">
    <div class="how_it_works_block">
        <div class="how_it_works_block-left">
            <div class="block_label">How it works</div>
            <div class="h2block">
                <h2>
                    Building the best space for collaboration.
                </h2>
                <div class="how_it_works_column">
                    @foreach(var row in Rows){
                        <div class="how_it_works_row">
                            <img class="row_icon" src="@row.ImagePath" alt="row_icon">
                            <div class="row_content">
                                <h3>@row.Header</h3> 
                                <p class="row_textblock">@row.Text</p>  
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <img src="svg/how_it_works_img.svg" alt="how_it_works_img">
    </div>
</div>


@code {
    private List<string> Items { get; set; }
    private List<Row> Rows { get; set; } 
    
    protected override void OnInitialized()
    {
        Items = new List<string> {
            "Shared Cloud Libraries, for a single source of truth",
            "Prototype previews for user testing and research",
            "Easy organization with projects",
            "Free developer handoff, right inside the browser",
            "Two-factor authentication and SSO"};

        Rows = new List<Row> {
            new Row(){
                ImagePath = "svg/how it works icons/how_it_works_icon1.svg", Header = "Shared Cloud Libraries", Text = "Navigate to the Your work panel in the left sidebar.Select the library you want to share. Select the Share icon in the upper right to share the library."
            },
            new Row(){
                ImagePath = "svg/how it works icons/how_it_works_icon2.svg", Header = "Free developer handoff, right inside", Text = "Cloud Inspector makes it easy for developers to get the information they need to turn pixels into code — all in the browser and, most importantly, for free."
            },
            new Row(){
                ImagePath = "svg/how it works icons/how_it_works_icon3.svg", Header = "Real-time collaborative editing", Text = "Room Service helps you build real-time collaborative features. Add real-time data sync! Let users edit the same data at the same time."
            },
            new Row(){
                ImagePath = "svg/how it works icons/how_it_works_icon4.svg", Header = "Integrations with the Cloud API", Text = "Unlocking that value requires an iPaaS that delivers the transformative power of APIs and integration."
            }};    
    }

    private class Row{
        public string ImagePath { get; set; }
        public string Header { get; set; } 
        public string Text { get; set; }
    }
}


