button {
  line-height: 24px;
  height: 52px;
  border: 0px;
  font-size: 18px;
}

h1 { 
  font-size: 70px;
  line-height: 80px;
  letter-spacing: -4px;
  color: #151515;
  padding-bottom: 20px;
}

h2 {
  font-size: 60px;
  letter-spacing: -3px;
  color: #151515;
  padding-bottom: 20px;
}

.header_wrapper {
    max-width: 1512px;
    margin-left: 32px;
    margin-right: 32px;
}

.welcome_block_wrapper {
  padding-top: 120px;
  max-width: 1512px;
  margin-left: 32px;
  margin-right: 32px;
}

.about_us_wrapper_block {
  padding-top: 200px;
  max-width: 1512px;
  margin-left: 32px;
  margin-right: 32px;
}

.header {
    display: flex;
    background-color: rgba(255, 255, 255, alpha);
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    height: 52px;
  }

  .header-left, .header-right {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .header-right {
    margin-left: auto;
    height: 100%;
  }

  .header a {
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
  }

  .header a.logo {
    width: inherit;
    height: inherit;
  }

  .header a:hover{
    font-size: 26px;
  }

.welcome_block {
  display: flex;
  max-height: 604px;
}

.welcome_block-left {
  flex: 1;
  max-width: 721px;
  min-width: 619px;
}

.h1block {
  font-size: 18px;
  line-height: 26px;
  color: #151515;
  padding-bottom: 40px;
}

.about_us_block {
  display: flex;
  max-height: 672px;
}

.about_us_block-right {
  flex: 1;
  min-width: 570px;
  max-width: 750px;
}

.list-icon {
  margin-right: 20px;
}

  #login {
    width: 91px;
    color: black;
    background-color: white;
  }

  #sign_up {
    width: 112px;
    background-color: black;
    color: white;
  }

  #email_block {
    display: flex;
    width: 505px;
    height: 52px;
    margin-bottom: 72px;
  }

  #email {
    flex: 1;
    border: none;
  }

  #email_submit_button {
    width: 144px;
    height: 52px;
    color: white;
    background-color: black;
  }

  #about_us_label {
    width: 115px;
    height: 38px;
    border: 2px solid;
    border-color: #000000;
    text-transform: uppercase;
    font-family: 'NeueMachina-Ultrabold';
    font-size: 14px;
    line-height: 26px;
    padding: 6px 10px;
    margin-bottom: 40px;
    box-sizing: border-box;
    display: flex;  
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #about_us_list {
    padding-top: 60px;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }

  #about_us_list li {
    display: flex;
    align-items: center;
  }

  #about_us_list li:not(:last-child) {
    margin-bottom: 24px;
  }

::placeholder {
  color: #151515;
  font-size: 18px; 
  line-height: 24px;
  padding-left: 16px;
}